[submodule "dmd"]
	path = dmd
	url = https://github.com/dlang/dmd.git
[submodule "phobos"]
	path = phobos
	url = https://github.com/dlang/phobos.git
[submodule "druntime"]
	path = druntime
	url = https://github.com/dlang/druntime.git
[submodule "dlang.org"]
	path = dlang.org
	url = https://github.com/dlang/dlang.org.git
